body { font-family:  Arial, sans-serif;
            text-align: justify; 
            color: black;
         }
h1  {  text-align: center ; 
         font-size: large ;     
         color: red;  
       } 
p   {  font-size: 12pt;   }